$screen-sm-min: 750px;
$screen-md-min: 1200px;

@media (max-width: $screen-sm-min) {
  #app {
    header {
      .header {
        padding: 0 4vw;
        height: 12vw;
        .header_logo {
          width: 24vw;
        }
        .header_btn {
          div {
            width: 20vw;
            height: 7vw;
            line-height: 7vw;
            margin: 0 2vw;
          }
          .icon {
            height: 7vw;
            width: 7vw;
          }
        }
      }
    }
    main {
      background-color: #e6dbf4;
      background-image: url(../images/bgmin/bgmin_01.jpg),
        url(../images/bgmin/bgmin_02.jpg), url(../images/bgmin/bgmin_03.jpg),
        url(../images/bgmin/bgmin_04.jpg), url(../images/bgmin/bgmin_05.jpg);
      background-position: center 0vw, center 60.15625vw, center 112.3125vw,
        center 172.46875vw, center 232.625vw;
      background-size: 100vw 60.15625vw;
      background-repeat: no-repeat;

      .carousels {
        padding-top: 86vw;
        .swiper-container {
          width: 94vw;
          .swiper-slide {
            width: 44vw;
            height: 58.96vw;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .activity-box {
        margin-top: 105vw;
        .table-activity {
          margin-top: 5vw;
          .title {
            width: 60vw;
            height: 10.48vw;
            font-size: 4.39vw;
            line-height: 9vw;
          }
          table {
            width: 90vw;
          }
          .activity-content {
            width: 90vw;

            .rule {
              margin-top: 10px;
              text-align: left;
              width: 100%;
              margin-top: 20px;
            }
          }
        }
        .card-content {
          flex-direction: column;
          justify-content: center;
          width: 90vw;
          .activity-card {
            width: 90vw;
            height: 50vw;
            margin-bottom: 4vw;
            .content {
              padding: 8vw 4vw;
            }
            .title {
              font-size: 5.39vw;
            }
          }
        }
        .activety-ewm {
          width: 90vw;
          .left {
            display: none;
          }
          .right {
            flex: 1;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .logo {
              width: 45vw;
            }
            .logo_text {
              width: 100%;
              margin: 6vw 0;
              i {
                width: 22vw;
              }
            }
            .ewm {
              margin-top: 0;
              .ios {
                margin-right: 5vw;
              }
            }
          }
          .top {
            display: none;
          }
        }
      }
    }
    footer{
      height: 12vw;
    }
  }
}

header {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #722ed1, #8350d9);
    width: 100%;
    height: 60px;
    padding: 0 40px;
    .header_logo {
      width: 120px;
      img {
        width: 100%;
      }
    }
    .header_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        width: 100px;
        height: 26px;

        line-height: 26px;
        text-align: center;
        margin: 0 10px;

        border: 1px solid #fff;
        border-radius: 6px;
        a {
          font-size: 14px;
          color: #fff;
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .icon {
        height: 26px;
        width: 26px;
      }
    }
  }
}

main {
  position: relative;
  background-color: #e6dbf4;
  background-image: url(../images/bg/bg01.jpg), url(../images/bg/bg02.jpg),
    url(../images/bg/bg03.jpg), url(../images/bg/bg04.jpg),
    url(../images/bg/bg05.jpg), url(../images/bg/bg06.jpg),
    url(../images/bg/bg07.jpg), url(../images/bg/bg08.jpg);
  background-position: center 0px, center 246px, center 492px, center 738px,
    center 984px, center 1230px, center 1476px, center 1722px;
  background-size: 1920px 246px;
  background-repeat: no-repeat;
  min-height: 100vh;
  .carousels {
    padding-top: 770px;

    .swiper-container {
      max-width: 1000px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 334px;
      height: 459px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .activity-box {
    margin-top: 730px;
    background-image: url("../images/activity/big_bg.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    .table-activity {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: #333333;
      margin-bottom: 40px;
      margin-top: 40px;
      .title {
        color: #fff;
        font-size: 24px;
        background-image: url("../images/activity/title.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 346px;
        height: 60px;
        text-align: center;
        line-height: 50px;
        padding-left: 30px;
      }

      table {
        width: 1000px;
        text-align: center;
        border: 1px solid #cccccc;
        background-color: #fff;
        box-shadow: 3px 3px 6px #604695;

        tr {
          height: 36px;
        }
        tr:nth-child(2n-1) {
          background-color: #9a82c6;
          color: #fff;
        }
        tr:nth-child(2n) {
          background-color: #edd6ff;
          color: #604695;
        }
      }
      .activity-content {
        width: 1000px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .content {
          color: #604695;
          text-align: left;
        }
        .rule {
          margin-top: 10px;
          text-align: left;
          width: 100%;
          margin-top: 20px;
        }
      }
    }
    .card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1000px;
      .activity-card {
        background-image: url("../images/activity/card_bg.png");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 490px;
        height: 300px;

        .title {
          text-align: center;
          color: #fff;
        }
        .content {
          padding: 60px 20px;
          color: #79b9f4;
        }
      }
    }
    .activety-ewm {
      display: flex;
      justify-content: space-between;
      width: 1000px;
      position: relative;
      .left {
        width: 270px;
        img {
          width: 100%;
        }
      }
      .right {
        padding-top: 80px;
        .logo {
          width: 500px;
        }
        .logo_text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #9a82c6;
          margin: 60px 0 70px;
          i {
            width: 140px;
            height: 2px;
            background-color: #9a82c6;
          }
        }
        .ewm {
          display: flex;
          justify-content: flex-start;
          margin-top: 80px;
          .ios {
            margin-right: 80px;
          }
          p {
            color: #9a82c6;
            width: 140px;
            text-align: center;
            margin-bottom: 8px;
          }
        }
      }
      .top {
        position: absolute;
        right: 0;
        bottom: 50px;
        z-index: 10;
        width: 50px;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
  }
}

footer{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  background: linear-gradient(to right, #722ed1, #8350d9);
}